@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;500;600;700&family=League+Spartan:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');


* {
--color-white:#fff;
--color-light:#f0eff5;
--color-gray-light:#86848c;
--color-gray-dark:#56555e;
--color-dark:#27282f;
--color-primary:rgb(0, 0, 0);
--color-success: rgb(34,202,75);
--color-danger: rgb(255,67,54);
--color-warning:rgb(234,181,7);
--color-purple:rgb(160,99,245);

--color-primary-light:rgba(116, 113, 122, 0.2);
--color-success-light: rgba(34,202,75, 0.2);
--color-danger-light:rgba(255,67,54,0.2);
--color-purple-light:rgba(160,99,245,0.2);

--card-padding: 1.6rem;
--padding-1: 1rem;
--padding-2:8px;

--card-border-radius:1.6rem;
--border-radius-1: 1rem;
--border-radius-2: 6px;
}

/* Root Variables for Dark Theme */
.dark-theme{
    --color-white: #131316;
    --color-light: #1c1a1a;
    --color-dark: #ddd;
    --color-gray-dark: #adacb5;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 12px;
}

body{
    background-color: var(--color-light);
    font-family: 'League Spartan', sans-serif;
    min-height: 100vh;
    color:var(--color-dark);
    overflow-x:hidden;
}

img{
    width: 100%
}

h1{
    font-size: 2.2rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.2rem;
}

h4{
    font-size: 1rem;
}

h5{
    font-size: 0.86rem;
    font-weight: 500
}

h6{
    font-size: 0.76rem;
}

p{
    font-size: 0.86rem;
    color: var(--color-gray-dark)
}

small{
    font-weight: 300;
    font-size: 0.77rem;
}

iframe{
    margin-top: 30px;
    width: 100%;
    max-height: 250px ;
    border-radius: var(--card-border-radius);
}

.text-muted{
    color: var(--color-gray-light)
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

.purple{
    color: var(--color-purple);
}

.bg-primary{
    background: var(--color-primary);
    box-shadow: 0 0 0.8rem 0.8rem var(--color-primary-light);
}

.bg-danger{
    background: var(--color-danger);
    box-shadow: 0 0 0.8rem 0.8rem var(--color-danger-light);
}

.bg-success{
    background: var(--color-success);
    box-shadow: 0 0 0.8rem 0.8rem var(--color-success-light);
}

.bg-purple{
    background: var(--color-purple);
    box-shadow: 0 0 0.8rem 0.8rem var(--color-purple-light);
}

.bg-dark{
    background: #27282f;
    box-shadow: 0 0 0.8rem 0.8rem var(0, 0, 0, 0.2);
}

/* ======= NAV BAR ========= */
nav{
    width: 100%;
    background: var(--color-white);
    padding: 1rem 0; 
}

.container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 96%;
    margin:0 auto;
}

.logo{
    width: 7rem;
}

.search-bar{
    background: var(--color-light);
    padding: var(--padding-2) var(--card-padding);
    width: 32vw;
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-gray-light);
    position: absolute;
    left: 15%;
}

.search-bar input[type = 'search']{
    color: var(--color-dark);
    background: transparent; 
    width: 100%;
}

.search-bar input[type = 'search']::placeholder{
    color: var(--color-gray-dark)
}

.profile-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    cursor: pointer;
}

.theme-btn{
    display: flex;
    background-color: var(--color-light);
    width: 5rem;
    height: 2rem;
    border-radius: var(--border-radius-2);
    cursor: pointer;
}

.theme-btn i{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.theme-btn .active{
    background: var(--color-dark);
    border-radius: var(--border-radius-2);
    color: var(--color-white)
}

.profile{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.profile-photo{
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.menu-btn{
    display: none;
}

/* =====================ASIDE & SIDEBAR===================== */
main.grids{
    display: grid;
    grid-template-columns: 16rem auto 30rem;
    gap: 2rem;
    width: 96%;
    margin: 1rem auto 4rem;
}
 main.all{
    display: grid;
    grid-template-columns: 16rem auto;
    gap: 2rem;
    width: 96%;
    margin: 1rem auto 4rem;
 }

main aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88vh;
}
/* WILL BE SHOWN ONLY ON MOBILE TABLETS */
#close-btn{
    display: none;
}

.sidebar a{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 4.2rem;
    color: var(--color-gray-light);
    position: relative;
}

.sidebar i{
    font-size: 1.7rem;
    margin-left: 3rem;
    transition: all 400ms ease-in-out;
}

.sidebar a.active{
    background: var(--color-white);
    color: var(--color-primary);
}

.sidebar a.active:before{
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}

.sidebar a:hover{
    color: var(--color-primary);
}

.sidebar a:hover i{
    margin-left: 2rem;
}

.sidebar h4{
    font-weight: 500;
}


.sub-menu{
    display: none;  
}

 .add{
    display: block;
    opacity: 1;
}

/* ======================= UPDATES ================================== */
.updates{
    background: var(--color-white);
    border-radius: var(--border-radius-1) ;
    text-align: center;
    padding: var(--card-padding);
}

.updates i{
    font-size: 2.8rem;
}
.updates h4{
    margin: 1rem 0;
}

.updates a{
    display: block;
    width: 100%;
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius-1);
    padding: 0.8rem 0;
    margin-top: 2rem;
    transition: all 400ms ease;
}

.updates a:hover{
    box-shadow: 0 1rem 2rem var(--color-primary-light);
}

/* ==============================   MIDDLE ========================*/
.header{
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.header input[type = "date"]{
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius-2);
    background: var(--color-white);
    color: var(--color-gray-dark);
}

.cards{
    margin-top: 1rem ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.card{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    color: white;
    height: 16rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 2rem 3rem rgb(0,0,0,0.08);
    transition: all 400ms ease;  
    min-width: 21rem; 
}

.card:hover{
    box-shadow: none;
}

.card:nth-child(1){
    line-height: 10px;
}

.card:nth-child(2){
    background: linear-gradient(#7f8191, #27282f);
    box-shadow: 0 2rem 3rem rgba(0,0,0,0.2);
}
.card:nth-child(3){
    background: linear-gradient(#5d70ff, #5719c2);
    box-shadow: 0 2rem 3rem rgba(--color-primary-light);
}

.card:hover{
    box-shadow: none;
}

.sect-1{
    color: #000;
    border-radius: var(--card-border-radius);
    background: var(--color-light);
    display: flex;
    width: 43%;
    height: 45%;
    padding: 4px ;
    align-items: center; 
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.sect-1 i{
    font-size: 15px;
    color: #5d70ff;
    margin: 0;
}

/* ============================= MONTHLY REPORT ========================== */
.monthly-report{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    justify-content: space-between;
    margin-top: 2rem;
}

.monthly-report h1{
    font-weight: 700;
    font-size: 1.8rem;
}

/* ============================ FAST PAYMENT ============================= */
.fast-payment{
    margin-top: 2rem;
    display: flex;
    align-self: center;
    gap: 2rem;
}

.badges{
    display: flex;
    gap: 1rem;
    align-self: center;
    flex-wrap: wrap;
    max-width: 100%;
}


.badge span{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    box-shadow: none;
}

.badge{
    padding: 0.5rem var(--card-padding);
    background: var(--color-white);
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 400ms ease-in-out;
}

.badge:hover{
box-shadow: 0 0 1.5rem var(--color-primary-light);
cursor: pointer;
}

.badge:first-child span{
    display: flex;
    align-self: center;
    justify-content: center;
    height: fit-content;
    font-size: 1.5rem;
} 

.badge div{
    display: flex;
    gap: 2rem;
    align-self: center;
}


/* =================================== CANVAS =========================== */
#chart{
    background: var(--color-white);
    max-width: 100%;
    margin-top: 2rem;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

/* ================================== RECENT UPDATES ================================ */

.recent-updates h2{
margin-bottom: 0.5rem;
}

.activities{
    background: var(--color-white);
    margin-bottom: 0.76rem ;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: 0 0 0.8rem 0.8rem var(0, 0, 0, 0.2);
    transition: all 400ms ease-in-out;
}

.activity{
    display: flex;
    gap: 1rem;
}

.flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.flex a{
    display: flex;
}

.flex-1{
    display: flex;
    gap: 1rem; 
    position: relative;
    justify-content: space-between;
}

.flex-1 h5{
   margin-top: 15px
} 

.flex-1 button{
    background: #5d70ff;
    color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
}

.flex-1 input[type = "number"]{
    position: absolute;
    top: 7px;
    left: 5%;
    border-radius: var(--border-radius-1);
    width: 60px;
    border: 4px solid var(--color-dark);
    text-align: center;
}

#toggle{
    position: relative;
    display: flex;
    width: 40px;
    height: 20px;
    border-radius: 160px;
    background: var(--color-white);
    transition: 0.5s;
    box-shadow: inset 0 8px 6px rgba(0, 0, 0, 0.1),
                inset 0 8px 6px rgba(0, 0, 0, 0.1),
                inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    /* margin-left: 55px */
}

.indicator{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, #fff, #ddd);
    border-radius: 60px;
    transform: scale(0.9);
    box-shadow: inset 0 8px 40px rgba(255, 252, 252, 0.8),
                inset 0 4px 4px rgba(255, 255, 255, 0.2),
                inset 0 -4px -4px rgba(255, 255, 255, 0.2);
    transition: 400ms;            
}

#toggle.active{
    background: #62fba5;
}

#toggle.active .indicator{
    left: 20px;
}

/* ===========================DELIVERY & PARCEL ======================== */
.delivery{
    margin-top: 2rem;
}

/* ========================= CARGO =========================*/
.cargo{
    margin-top:  2rem;
}

/* =========================== DRIVERS LIST =========================== */

.driver-list .search-bar1{
    background: var(--color-white);
    padding: var(--padding-2) var(--card-padding);
    width: 32vw;
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-gray-light);
    margin-bottom: 20px;
}

.driver-list-header{
    margin-bottom: 20px;
}

.driver-list-header h5{
    margin-top: 10px;
}

.driver-list-data{
    margin-top: 2rem;
}

.driver-list-data h2 {
    margin-bottom: 0.8rem;
}

table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    transition: all 400ms ease;
    margin-bottom: 20px;
}

tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
}

tbody td:nth-child(6){
    display: flex ;
    justify-content: center;
    align-items: center;
}


#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: var(--color-primary);
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i{
    font-size: 10px;
    font-weight: 600;
}

/* -=========================== SERVICE CATEGORY ==================================- */
.service-category h2{
    margin: 20px;
}
.vehicles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    text-align: center;
}

.taxi{
    height: 180px;
    width: 100%;
    border-radius: var(--card-border-radius);
    background: #fff;
    box-shadow: 0 1rem 2rem rgb(0,0,0,0.08);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.taxi i{
    font-size: 30px;
}


/* =================================== RIDE DETAILS ============================== */
.ride-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.ride-details h4{
    margin: 20px;
}

.ride-details table th{
    text-align: start;
    border-bottom: 1px solid var(--color-light);
    width: auto;
}

.ride-details table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    text-align: start;
}

.ride-details table tbody tr{
    border-bottom: 1px solid var(--color-light);
}

.details table th{
    border-bottom: 1px solid var(--color-light)
}


/* ======================== ADD DRIVER ===================== */
.add-driver{
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 40px 40px;
   background: #fff;
   border-radius: var(--card-border-radius) ;
   margin-top: 20px;
}

.add-driver-data{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.add-driver-data input{
    max-width: 70%;
    border-radius: 0 var(--card-border-radius) var(--card-border-radius) 0 ;
    padding: 10px;
    background: #fff;
    border: 1px solid;
}

.add-driver-data :nth-child(13),
.add-driver-data :nth-child(15){
    width: 4px;
    border-radius: 50px;
    box-shadow: 0 1rem 2rem rgb(0,0,0,0.08);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.driver-profile-area{
    max-width: 400px; 
    width: 100%;
    background: #f0eff5;
    padding: 10px;
    border-radius: 30px;
}

.img-area{
    position: relative;
    width: 100%;
    height: 240px;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-area .icon{
    font-size: 100px;
}
.img-area h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}

.img-area p{
    color: #999;
}

.img-area::before{
    position: absolute;
    content: attr(data-img);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    text-align: center;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all 400ms ease;
}

.img-area.active:hover::before{
    opacity: 1;
}

.img-area span{
    font-weight: 600;
}

.img-area img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 100; 
}

.select-image{
    display: block;
    width: 100%;
    padding: 16px 0;
    border-radius: 15px;
    background: #62fba5;
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 400ms ease;
    z-index: 200;
}

.select-image:hover{
    background: #00ff6e;
}
















/* ============================ MEDIA QUERIES FOR TABLETS ============================ */
@media screen and (max-width: 1024px){
    .search-bar{
        display: none;
    }

    .profile-area{
        gap: 2rem
    }

    .menu-btn{
        display: inline;
        background: transparent;
        color: var(--color-dark);
    }

    main.grids{
        grid-template-columns: 1fr;
    }
    
    main aside{
        display: none;
        position: fixed;
        top:0;
        left: -100%;
        z-index: 3;
        background: var(--color-white);
        width: 22rem;
        height: 100vh;
        box-shadow: 2rem 0 2rem var(--color-primary-light);
        animation: showSideBar 500ms ease forwards;
    }

    @keyframes showSideBar {
        to{
            left: 0;
        }
    }

    #close-btn{
        display: inline-block;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 4;
        background: transparent;
        color: var(--color-dark);
    }

    button:hover{
        cursor: pointer;
    }

    .sidebar{
        margin-top: 4rem;
    }

    .updates{
        display: none;
    }

    .cards{
        grid-template-columns: 1fr 1fr 1fr ;
    }

    .card{
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .sect-1 {
        width: 40%;
        height: 40%;
    }

    main canvas{
        margin: 3rem 0 1rem;
    }

    .recent-updates{
        margin-top: 3rem;
    }
}



/* ======================== MOBILE DEVICES ========================= */

@media  screen and (max-width: 796px){
    .cards{
        grid-template-columns: 1fr 1fr;
        
    }

    .card{
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

@media  screen and (max-width: 600px) { 
    .profile-area{
        gap: 2.6rem;
    }

    .card{
        justify-content: center;
        gap: 1rem;
    }

    .profile h5, .profile i{
        display: none;
    }
    
    .fast-payment{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 3rem;
        gap: 1rem;
    }

}


@media  screen and (max-width: 530px){
    .cards{
        grid-template-columns: 1fr;
        align-self: center;
    }

    .card{
        justify-content: center;
        gap: 1rem;
    }
}